body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

main {
    background-image: url("logo-background.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
}

.panel {
    max-width: 992px;
    margin: 1% auto;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .panel, .agrees {
        margin: 1% 3%;
    }
}

.logo {
    width: 10%;
    margin-left: 10%;
    margin-top: 1%;
}

.agrees {
    max-width: 992px;
    margin: 1% auto;
}

.btn {
    display: block;
    margin: 2% auto;
}

span {
    color: #d10a10;
    font-weight: 900;
    font-size: 1.5em;
}

.thanks-background {
    background-color: rgba(100, 100, 100, 0.3);
}

#agree-rule, #agree-data {
    display: none;
}

#agree-rule + label, #agree-data + label {
    border: 0.1em solid #ddd;
    background-color: #fff;
    padding: 0.9%;
    border-radius: 10%;
    position: relative;
    display: inline-block;
}

#agree-rule + label:active, #agree-rule:checked + label:active, #agree-data + label:active, #agree-data:checked + label:active {
    box-shadow: inset 0px 0px 0.3em #575756;
}

#agree-rule + label:hover, #agree-data + label:hover {
    box-shadow: 0px 0px 0.3em rgba(0, 123, 255, 0.7);
    border: 0.1em solid #17a2b8;
}

#agree-rule:checked + label:after, #agree-data:checked + label:after {
    content: "\2714";
    font-size: 1.2em;
    color: #555;
    position: absolute;
    top: -10%;
    left: 20%;
}

.checkbox label {
    display: inline;
}